body {
  font-family: Arial, sans-serif;
  background-color: black;
  margin: 0;
  padding: 0;
  height: 100%;
}
header {
  background: black;
  color: white;
  padding: 10px 0;
  text-align: center;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}
.content {
  margin-top: 60px;
}
body {
  padding-top: 60px;
  padding-bottom: 60px;
}
footer {
  text-align: center;
  color: white;
  position: fixed;
  width: 100%;
  bottom: 0;
}
.navbar {
  z-index: 1000; /* Ensures the navbar stays above other content */
}
.nav-item .btn {
  width: 150px;
}
.card .btn {
  width: 120px;

}
img.icon {
  filter: brightness(0) invert(1); /* This will turn any non-black color to black */
  width: 45px;  /* Set default width */
  height: 45px; /* Set default height */
}
