body {
  font-family: Arial, sans-serif;
  background-color: black;
  margin: 0;
  padding: 0;
  height: 100%;

}
header {
  background: black;
  color: white;
  padding: 10px 0;
  text-align: center;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}
.content {
  margin-top: 60px;
}
body {
  padding-top: 60px;
  padding-bottom: 60px;
}
footer {
  text-align: center;
  color: white;
  position: fixed;
  width: 100%;
  bottom: 0;
}
.card {
  transition: transform 0.3s, box-shadow 0.3s;
}
.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.nav-item .btn {
  width: 150px; /* Set a fixed width for buttons */
}
img.icon {
  filter: brightness(0) invert(1); /* This will turn any non-black color to black */
  width: 45px;  /* Set default width */
  height: 45px; /* Set default height */
}
