body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  height: 100%;
}
header {
  background: black;
  color: white;
  padding: 10px 0;
  text-align: center;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.content {
  margin-top: 60px;
}
body {
  padding-top: 60px;
  padding-bottom: 60px;
}
footer {
  text-align: center;
  padding: 10px;
  background: #696969;
  color: white;
  position: fixed;
  width: 100%;
  bottom: 0;
}
.card {
  transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
